/* Premium SearchBar.css */
.search-bar {
  margin-bottom: 60px;
}

.search-bar form {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 20px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 50px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
}

.search-bar input:focus {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.search-bar button {
  position: absolute;
  right: 5px;
  top: 3.5px;
  padding: 15px 30px;
  font-size: 1.1rem;
  background: linear-gradient(135deg, #ffd700, #ff8c00);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
}

.search-bar button:hover {
  /* transform: translateY(-2px); */
  box-shadow: 0 0px 15px rgba(255, 140, 0, 0.4);
}

@media (max-width: 768px) {
  .search-bar input {
    font-size: 1.1rem;
    padding: 18px 25px;
  }

  .search-bar button {
    font-size: 1rem;
    padding: 13px 25px;
  }
}

@media (max-width: 480px) {
  .search-bar input {
    font-size: 1rem;
    padding: 15px 20px;
  }

  .search-bar button {
    position: static;
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 350px) {
  .search-bar input {
    font-size: 0.75rem; /* Smaller font size */
    padding: 10px 15px; /* Adjust padding */
    width: 100%; /* Ensure input takes full width */
  }

  .search-bar button {
    font-size: 0.9rem; /* Slightly smaller button text */
    padding: 10px 20px; /* Adjust button padding */
    width: 100%; 
    margin-top: 0px;
    margin-left: 5px; /* More space between input and button */
    position: static; /* Ensure button sits below the input */
  }
}